.SearchStock {
display: flex;
  align-items: center;
  position: relative;
  top: -30px;
  justify-content: center;
  justify-content: center;
}

.SearchStock input {
  width: 90%;
  padding: 10px 10px 10px 45px;
  border: 1px solid var(--border-color);
  outline: none;
  border-radius: 15px;
  font-size: 16px;
  background-color: var(--input-bg);
  color: var(--input-text);
  height: 50px;
}

.SearchStock input::placeholder {
  color: var(--muted-text);
  font-size: 14px;
}