.bills-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    
}

.content-bills{
    align-items: center;
    justify-content: center;
    text-align: center;
    
}   

.company-list-container-bills {
    align-items: center;
   
    
    
  }
