body {
  background-color: #2F1919;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.home-container {
  display: flex;
  flex-direction: row;
}

.nav {
  margin-left: 8rem;
}

.content {
  background-color: #ffffff;
  height: 90dvh;
  width: 82dvw;
  border-radius: 20px;
  margin-left: 2rem;
  margin-top: 2.5rem;
  padding: 1rem;
  overflow-y: auto;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .home-container {
    flex-direction: column;
  }

  .nav {
    margin-left: 0;
    margin-bottom: 0px;
  }

  .content {
    margin-top: 0px;
    /* border-radius: 70px !important; */
      border-top-left-radius: 70px !important ;
    border-top-right-radius: 70px !important ;
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
    width: 92dvw;
    margin: 1rem auto;
   
    border-radius: 12px;
  }
}
